<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="/fragments/header :: common-header">   
</head>

<div th:replace="/fragments/header :: header"></div>  
<h1> Spaces </h1>
      


<body>
  
    <div class="search">
        <form th:action = "@{spaces}">
            Filter:
            <input type = "text" name="keyword" />
            &nbsp;
            <input type="submit" value="Search"/>
        </form>
      </div> 
  
  
 
  <main class="page lanidng-page">
    
        
    
      <h1> Workspaces </h1>
      <div class="container mt-5">
          <div class="d-flex justify-content-center row">
              <div class="col-md-10">
                  <div class="rounded">
                      <div class="table-responsive table-borderless">
                          <table class="table">
                              <thead>
                                  <tr>
                                  
                                      <th scope="col">Workspace ID</th>
                                      <th scope="col">Workspace Name</th>
                                      <th scope="col">Max Size</th>
                                      <th scope="col"></th>
                                      <th scope="col"></th>
                                  </tr>
                              </thead>
                              <tbody class="table-body">
                                  <tr th:if="${workspaces.empty}">
                                      <td colspan="2"> No Workspaces... </td>
                                  </tr>
                                  <tr scope="row" th:each="workspace : ${workspaces}">
                                      <td th:text="${workspace.id}"></td>
                                      <td th:text="${workspace.workspacename}"></td>
                                      <td th:text="${workspace.maxSize}"></td>
                                      <td><a th:href="@{/spaces/edit-workspace/{id}(id=${workspace.id})}" class="btn btn-info">Edit</a></td>
                                      <td><a th:href="@{/spaces/delete-workspace/{id}(id=${workspace.id})}" class="btn btn-danger">Delete</a></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <h1> Amenities </h1>
      <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                <div class="rounded">
                    <div class="table-responsive table-borderless">
                        <table class="table">
                            <thead>
                                <tr>
                                
                                    <th scope="col">Amenity ID</th>
                                    <th scope="col">Amenity Name</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <tr th:if="${amenities.empty}">
                                    <td colspan="2"> No Amenities... </td>
                                </tr>
                                <tr scope="row" th:each="amenity : ${amenities}">
                                    <td th:text="${amenity.id}"></td>
                                    <td th:text="${amenity.amenityName}"></td>
                                    <td><a th:href="@{/spaces/edit-amenity/{id}(id=${amenity.id})}" class="btn btn-info">Edit</a></td>
                                    <td><a th:href="@{/spaces/delete-amenity/{id}(id=${amenity.id})}" class="btn btn-danger">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h3>View Options</h3>
        <input type="radio" class="btn-check" name="options" id="option1" >
        <label class="btn btn-secondary" for="option1"><a th:href="@{/spaces/workspace-list}">Workspaces</a></label>
  
        <input type="radio" class="btn-check" name="options" id="option2" >
        <label class="btn btn-secondary" for="option2"><a th:href="@{/spaces/amenity-list}">Amenities</a></label>
  
        <input type="radio" class="btn-check" name="options" id="option3"  >
        <label class="btn btn-secondary" for="option3"><a th:href="@{/spaces}">All</a></label>

        <input type="radio" class="btn-check" name="options" id="option4"  >
        <label class="btn btn-secondary" for="option4"><a th:href="@{/reviews}">Space Reviews</a></label>
      </div>
  </main>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
  <script src="assets/js/script.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

</body>

</html>