<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="/fragments/header :: common-header">  

</head>

<div th:replace="/fragments/header :: header"></div>  
<main class="search"></main>
            <input type="text"  placeholder="Filter Spaces...">  
        
    

 <main class="page landing-page">
        <section class="portfolio-block block-intro">
            <h1>Workspaces</h1>
            <div class="container">
                <div class="about-me"></div>
            </div>
            <table class="w3-table w3-striped w3-border">
                <tr class="header">
                  <th style="width:100%;">Name</th>
                  <th style="width:40%;">Capacity</th>
                </tr>
                <tr>
                  <td>Desk</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Office</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>Study Room</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>ClassRoom</td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Computer Lab</td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Science Lab</td>
                  <td>20</td>
                </tr>
                
              </table>
              
        </section>
        <section class="portfolio-block photography"></section>
    </main>
    <main class="page lanidng-page">
        <section class="portfolio-block photography"></section>
    </main>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/script.min.js"></script>

    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <h1>Amenities</h1>
            <table class="w3-table w3-striped w3-border">
                <tr class="header">
                  <th>Name</th>
                </tr>
                <tr>
                  <td>Coffe Machine</td>
                </tr>
                <tr>
                  <td>Toaster</td>
                </tr>
                <tr>
                  <td>TV</td>
                </tr>
                <tr>
                  <td>Radio</td>
                </tr>
              </table>
        </section>
        <section class="portfolio-block photography"></section>
    </main>
    <main class="page lanidng-page">
        <section class="portfolio-block photography"></section>
    </main>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/script.min.js"></script>




</body>

</html>