<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="/fragments/header :: common-header">  

</head>
<div th:replace="/fragments/header :: header"></div>  
<body>
    
    <main class="page lanidng-page">
        <h2 class="text-center" style="width: 900;padding: 37px;">Team Reviews</h2>
        <section class="portfolio-block block-intro" style="width: 900;">
            <div class="container">
            <div class="d-flex justify-content-center row">
                <div th:switch="${reviews}" class="container"></div>
                    <div class="col-sm-7">
                        <div class="table-responsive">
                            <table class="table caption-top">
                                <thead>
                                    <tr>
                                        <th scope="col">Team ID </th>
                                        <th scope="col">Review </th> 
                                        <th scope="col">Reviewer</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr th:if="${teams.empty}">
                                        <td colspan="2"> No active Teams </td>
                                    </tr>
                                    <tr scope="row" th:each="review : ${reviews}">
                                        <td th:text="${review.team}"></td>
                                        <td th:text="${review.review}"></td>
                                        <td th:text="${review.reviewer}"></td>
                                        <td><a th:href="@{/teamreviews/delete/{id}(id=${review.reviewer})}" class="btn btn-info">Delete</a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <a class="btn btn-info" th:href="@{/teamreviews/add}">
                                Add a team review
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>