<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="/fragments/header :: common-header">  

</head>

<section class="portfolio-block block-intro" style="width: 900;">
    <div th:replace="/fragments/header :: header"></div> 
    <h2 class="text-center" style="width: 900;padding: 37px;">Team Add</h2>
    <div class="container">
        <p style="font-size: 19px;"></p>
    </div>
    <form action="#" th:action="@{/team/edit}" th:object="${team}" method="post">
        <h3 th:text="*{'team #' + id}"></h3>
        <!-- <label for="name" class="col-form-label">Edit Employee Name</label> -->
        <input class="form-control" type="text" th:field="*{name}">

        <!-- <label for="date" class="col-form-label">Edit Employee Birthdate</label> -->
        <input class="form-control" type="number" th:field="*{count}">
        
        <div class="form-group col-md-6" hidden>

            <input type="text" th:field="*{id}" class="form-control" id="id" placeholder="Id" readonly>
        </div>

        <button class="btn btn-primary" type="submit" value="Add" style="margin: 33px;padding: 3px 16px;">Update</button>
    </form>
</section>