<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="/fragments/header :: common-header">  

</head>

<body>
    <div th:replace="/fragments/header :: header"></div>  
    <main class="page lanidng-page">
        <h2 class="text-center" style="width: 900;padding: 37px;">Manage Teams</h2>
        <section class="portfolio-block block-intro" style="width: 900;">
            <div class="container">
            <div class="d-flex justify-content-center row">
                <div th:switch="${team}" class="container"></div>
                    <div class="col-sm-7">
                        <div class="table-responsive">
                            <table class="table caption-top">
                                <caption>Manage Teams</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">Team ID </th>
                                        <th scope="col">Team Name </th> 
                                        <th scope="col">Employee Count</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr th:if="${team.empty}">
                                        <td colspan="2"> No active Teams </td>
                                    </tr>
                                    <tr scope="row" th:each="team : ${team}">
                                        <td th:text="${team.id}"></td>
                                        <td th:text="${team.name}"></td>
                                        <td th:text="${team.count}"></td>
                                        <td><a th:href="@{/team/edit/{id}(id=${team.id})}" class="btn btn-info">Edit</a></td>
                                        <td><a th:href="@{/team/delete/{id}(id=${team.id})}" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <a class="btn btn-info" href="/team/add">
                                Create a team
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>