<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="/fragments/header :: common-header">  

</head>

<body>
    <div th:replace="/fragments/header :: header"></div>  
    <main class="page lanidng-page">
        <h2 class="text-center" style="width: 900;padding: 37px;">Add Space Review</h2>
        <section class="portfolio-block block-intro" style="width: 900;">
            <div class="container">
            <div class="d-flex justify-content-center row">
                <form action="#" th:action="@{/reviews/add}" th:object="${review}" method="post">
                    <select class="form-select" th:field="*{spaceName}">
                        <option th:each="space : ${spaces}" th:value="${space.spaceName}" th:text="${space.spaceName}" >
                        </option>
                    </select>
                    <select class="form-select" th:field="*{rating}">
                        <option  th:value="1" th:text="1" ></option>
                        <option  th:value="2" th:text="2" ></option>
                        <option  th:value="3" th:text="3" ></option>
                        <option  th:value="4" th:text="4" ></option>
                        <option  th:value="5" th:text="5" ></option>
                    </select>
                    <input class="form-control" type="text" th:field="*{reviewText}" placeholder="Review text">
                    <input class="form-control" type="text" th:field="*{reviewer}" placeholder="Reviewer name (ie. Anonymous)">
                    <button class="btn btn-primary" type="submit" value="Add"style="margin: 33px;padding: 3px 16px;">Submit</button>
                </form>
            </div>
        </div>
    </main>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>