<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="/fragments/header :: common-header">  

</head>

<section class="portfolio-block block-intro" style="width: 900;">
    <div th:replace="/fragments/header :: header"></div> 
    <h2 class="text-center" style="width: 900;padding: 37px;">Reservations</h2>
    <div class="container">
        <p style="font-size: 19px;"></p>
    </div>
    <form action="#" th:action="@{/employees/edit}" th:object="${employee}" method="post">
        <h3 th:text="*{'employee #' + employeeId}"></h3>
        <input class="form-control" type="text" th:field="*{name}">
        <input class="form-control" type="date" th:field="*{birthdate}">
        <button class="btn btn-primary" type="submit" value="Add" style="margin: 33px;padding: 3px 16px;">Submit</button>
    </form>
</section>