<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="/fragments/header :: common-header">  

</head>

<body>
    <div th:replace="/fragments/header :: header"></div>  
    <main class="page lanidng-page">
        
        
        <h1> Manage Employees</h1>
        <div class="container mt-5">
            <div class="d-flex justify-content-center row">
                <div class="col-md-10">
                    <div class="rounded">
                        <div class="table-responsive table-borderless">
                            <table class="table">
                                <thead>
                                    <tr>
                                    
                                        <th scope="col">Employee ID </th>
                                        <th scope="col">Employee Name </th> 
                                        <th scope="col">Employee DOB</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr th:if="${employees.empty}">
                                        <td colspan="2"> No active employees </td>
                                    </tr>
                                    <tr scope="row" th:each="employee : ${employees}">
                                        <td th:text="${employee.employeeId}"></td>
                                        <td th:text="${employee.name}"></td>
                                        <td th:text="${employee.birthdate}"></td>
                                        <td><a th:href="@{/employee/edit/{id}(id=${employee.id})}" class="btn btn-info">Edit</a></td>
                                        <td><a th:href="@{/employee/delete/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>