<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="/fragments/header :: common-header">  

</head>

<body>
    <div th:replace="/fragments/header :: header"></div>  
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro" style="width: 900;">
            <h2 class="text-center" style="width: 900;padding: 37px;">Log In</h2>
            <div class="container">
                <p style="font-size: 19px;"></p>
            </div>
            <form>

                <input class="form-control" type="text" placeholder="Name">
              <input class="form-control" type="text" placeholder="Employee ID">
                </select>

                    <a class="nav-link" href="/employees/list">
                    <button class="btn btn-primary" type="button" style="margin: 20px;padding: 3px 16px;">Log In</button><br>
                    </a>
                    <a class="btn btn-primary" href="/employees/add">
                        New User Form
                    </a>
                    <a class="nav-link" href="/employees/list"><input type="button" class="btn" value="Managee Employees"></a>
              </form>
        </section>
    </main>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>