<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="/fragments/header :: common-header">  

</head>

<section class="portfolio-block block-intro" style="width: 900;">
    <div th:replace="/fragments/header :: header"></div> 
    <h2 class="text-center" style="width: 900;padding: 37px;">Reservations</h2>
    <div class="container">
        <p style="font-size: 19px;"></p>
    </div>
    <form action="#" th:action="@{/reservations/create}" th:object="${reservation}" method="post">
        <input class="form-control" type="text" th:field="*{creatorID}"  placeholder="Creator ID" >
        <input class="form-control" type="datetime-local" th:field="*{reservationDateTime}">
        <select class="form-select" th:field="*{spaceType}" >
                <option th:value="'WORKSPACE'" th:text="WORKSPACE"></option>
                <option th:value="'AMENITY'" th:text="AMENITY"></option>
        </select>
        <select class="form-select" th:field="*{spaceID}">
            <option th:each="i : ${workspaces}" th:value="${i.id}" th:text="${i}" >

            </option>
            <option  th:each="i : ${amenities}" th:value="${i.id}" th:text="${i}" >
            </option>
        </select>
     
        <input class="form-control" type="text" th:field="*{spaceID}"  placeholder="Space ID">
        <button class="btn btn-primary" type="submit" value="Add"style="margin: 33px;padding: 3px 16px;">Submit</button>
        <div class="row">
            <div class="col-md-6 mt-5">
                <input type="submit" class="btn btn-primary" value="Add">
            </div>
        </div> 
    </form>
</section>