<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="/fragments/header :: common-header">  

</head>

<section class="portfolio-block block-intro" style="width: 900;">
    <div th:replace="/fragments/header :: header"></div> 
    <h2 class="text-center" style="width: 900;padding: 37px;">Reservations</h2>
    <div class="container">
        <p style="font-size: 19px;"></p>
    </div>
    <form><input class="form-control" type="text" placeholder="Name"><input class="form-control" type="date"><select class="form-select">
            <optgroup label="Workspaces">
                <option value="12" selected="">Workspace1</option>
                <option value="13">Workspace 2</option>
                <option value="14">Workspace 3</option>
            </optgroup>
        </select><select class="form-select">
            <optgroup label="Amenities">
                <option value="12" selected="">Coffee Maker</option>
                <option value="13">Toaster</option>
                <option value="14">Microwave</option>
            </optgroup>
        </select><button class="btn btn-primary" type="button" style="margin: 33px;padding: 3px 16px;">Submit</button></form>
</section>