<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="/fragments/header :: common-header">  

</head>

<section class="portfolio-block block-intro" style="width: 900;">
    <div th:replace="/fragments/header :: header"></div> 
    <h2 class="text-center" style="width: 900;padding: 37px;">Reservations</h2>
    <div class="container">
        <p style="font-size: 19px;"></p>
    </div>
    <form action="#" th:action="@{/reservations/create}" th:object="${reservation}" method="post">
        <select class="form-select" th:field="*{creatorID}">
            <option th:each="employee : ${employees}" th:value="${employee.employeeId}" th:text="${employee.name}" >
            </option>
        </select>
        <input class="form-control" type="datetime-local" th:field="*{reservationDateTime}">
        <select class="form-select" th:field="*{spaces}">
        
            <option th:each="i : ${spaces}" th:value="${i.id}" th:text="${i.spaceName}" >

            </option>
        </select>
        <button class="btn btn-primary" type="submit" value="Add"style="margin: 33px;padding: 3px 16px;">Submit</button>
    </form>
</section>