<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-success bg-gradient portfolio-navbar gradient">
        <div class="container">
            <h1>Take-A-Seat</h1>
            <div class="collapse navbar-collapse" id="navbarNav-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="newsfeed.html">Newsfeed</a></li>
                    <li class="nav-item"><a class="nav-link" href="reservations.html">Reservations</a></li>
                    <li class="nav-item"><a class="nav-link" href="workspaces.html">Workspaces</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-success bg-gradient portfolio-navbar gradient">
        <div class="container">
            <h1>Take-A-Seat</h1>
            <div class="collapse navbar-collapse" id="navbarNav-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="newsfeed.html">Newsfeed</a></li>
                    <li class="nav-item"><a class="nav-link" href="reservations.html">Reservations</a></li>
                    <li class="nav-item"><a class="nav-link" href="workspaces.html">Workspaces</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <h1>Newsfeed</h1>
            <div class="container">
                <div class="about-me"></div>
            </div>
            <p style="margin: 45px;">Newsfeed will display here</p>
        </section>
        <section class="portfolio-block photography"></section>
    </main>
    <main class="page lanidng-page">
        <section class="portfolio-block photography"></section>
    </main>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>